p{
    font-size: 2rem;
    font-weight: bold;
}

h1{
    font-size: 2.5rem;
    font-weight: bolder;
    padding: 0.5rem;
}

header{
    text-align: center;
}

html{
    width: 100%;
    height: 100%;
}

main,header,footer{
    width: 100%;
}

footer{
    display: flex;
    flex-direction: row;
}

.bell{
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    width: 2.5rem;
    height: auto;
}

.agenda{
    position:relative;
    align-self: center;
    background-color: red;
}

.footer-img{
    width: 40%;
    height: auto;
}

a{
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    width: 100%;
    height: 100%;
}

p{
    margin-top: 1rem;
    margin-left: 1.5rem;
}

.agenda-img{
    width: 100%;
    height: auto;
}

main{
    overflow: scroll;
    height: 82.2%;
}

.calendar-img{
    width: 85%;
    height: auto;
    margin-top: 1rem;
}